{% extends 'base.html' %}

{% block content %}
<h1>Movies</h1>
<select id="select-box">
  <option value="all" selected disabled hidden>장르를 선택하시오</option>
  {% for genre in genres %}
    <option value="{{ genre.name }}">{{ genre.name }}</option>
  {% endfor %}
</select>
<ul id="movies">
  {% for movie in movies %}
    <li data-genre="{% for genre in movie.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
      {{ movie.title }}
    </li>
  {% endfor %}
</ul>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  
  const selectBox = document.querySelector('#select-box')
  const movies = document.querySelectorAll("#movies li")
  console.log(movies)

  selectBox.addEventListener('change', function (event) {
    const selectedGenre = event.target.value
    
    movies.forEach(function (movie) {
      const movieGenre = movie.getAttribute('data-genre')
      console.log(movieGenre)
      if (selectedGenre === 'all' || movieGenre.includes(selectedGenre)) {
        movie.style.display = ''
      } else {
        movie.style.display = 'none'
      }
    })

    
  })
  
</script>

 
{% endblock %}
